<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muteds fixed-bottom mt-4">

    <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Contactame a traves de:</span>
        </div>
        <div class="social">
            <a href="mailto:d.lautaro.soria@gmail.com" target="_blank" class="me-4 text-reset">
                <i class="bi bi-google"></i>
            </a>
            <a href="{{linkedinUrl}}" target="_blank" class="me-4 text-reset">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="{{githubUrl}}" target="_blank" class="me-4 text-reset">
                <i class="bi bi-github"></i>
            </a>
        </div>
    </section>

    <div class="text-center p-2 copyright">
        This Website was designed and developed by <a class="text-reset fw-bold"
            href="https://www.linkedin.com/in/lautaro-soria/" target="_blank">Lautaro Soria</a> ©
        2025
        Copyright
    </div>


</footer>
<!-- Footer -->