<nav class="navbar navbar-expand-lg sticky-lg-top bg-body-tertiary">
    <div class="container-fluid">
        <div class="row align-items-center align-content-center"> <!-- Alineación vertical de las filas -->
            <div class="col-6">
                <div class="d-flex align-items-center align-content-center logo_and_name">
                    <a class="navbar-brand" href="#">
                        <img src="./assets/photos/logo_l.jpeg" alt="Logo" width="50" height="60"
                            class="d-inline-block align-text-top logo_l">
                    </a>
                    <h2>Lautaro Soria</h2>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center justify-content-end options">
                    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                        <!-- Centra el ul -->
                        <ul class="navbar-nav mb-2 mb-lg-0 text-center ">
                            <!-- Alineación horizontal -->
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" (click)="onButtonClick('homePage')">Principal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="onButtonClick('aboutMe')">Sobre mi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="onButtonClick('services')">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="onButtonClick('projects')">Portafolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="onButtonClick('contactMe')">Charlemos!</a>
                            </li>
                        </ul>
                    </div><button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>