$color-background: var(--color-1); // Un azul oscuro más vibrante
$color-loader: #f6772d; // Un amarillo anaranjado contrastante

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Asegura que el body ocupe toda la pantalla
    margin: 0; // Elimina márgenes predeterminados
    background-color: $color-background !important; // Fondo del body
}

.loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
        font-family: helvetica, arial, sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        color: $color-loader;
        letter-spacing: 0.2em;

    &::before,
        &::after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background: $color-loader;
            position: absolute;
            animation: load 0.7s infinite alternate ease-in-out;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
        }

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 40px;
    }

    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}
