<div class="container-principal">
    <div class="container-fluid">
        <div class="home-info">
            <h1 style="display: none;">Lautaro Soria</h1>
            <h3 class="hello">Hola, me llamo <span class="name">Lautaro Soria &nbsp;<img
                        src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="35"></span></h3>
            <h3><span class="typing">{{ currentText }}</span></h3>

            <div class="about-me">

                <p>🚀 Actualmente, soy pasante IT en Edesal S.A, empresa destinada a la gestión eléctrica. Trabajo con
                    distintas
                    herramientas y lenguajes de programación tales como Python, Java, PHP, Javascript y tambien HTML, CSS y bootstrap,
                    para analizar datos, crear algoritmos que automaticen distintas tareas y también realizar mejoras en la página web.
                    Ademas, cuento con conicimientos en los frameworks NodeJS y Angular.</p>

                <p>👨‍🏫 También tengo el agrado de ser profesor auxiliar en la Universidad Nacional de San Luis (UNSL),
                    donde colaboro en las materias de "Programación 1" y "Resolución de Problemas y Algoritmos". Me
                    apasiona
                    compartir conocimientos y ayudar a los estudiantes a desarrollar habilidades fundamentales para su
                    futuro profesional.</p>

                <p>🔭 Como parte de mis estudios, estoy trabajando en el desarrollo de una aplicación web de navegación
                    para
                    el campus de la UNSL. Esta herramienta está diseñada para facilitar el acceso a diferentes lugares
                    dentro del campus, como aulas, laboratorios y otros espacios clave, con un enfoque especial en la
                    accesibilidad para todos los usuarios.</p>

                <ul class="learning">
                    🌱 En este momento, estoy ampliando mis conocimientos en las siguientes tecnologías:
                    <li class="learning-item">Angular</li>
                    <li class="learning-item">NodeJS</li>
                    <li class="learning-item">Python</li>
                </ul>

                <p>😀 Me esfuerzo por ser responsable y comprometido con lo que hago. Mi enfoque está en crear soluciones efectivas a
                    través del diseño, la
                    gestión y la programación. Estoy particularmente interesado en el desarrollo web, el análisis de
                    datos y deep learning,
                    áreas en las que espero seguir creciendo.</p>

                <div class="boton">
                    <a target="_blank" href="https://drive.google.com/file/d/1CgzF7vJI1adA56FGQQ1uu3XzYb1O5tOz/view?usp=sharing"
                        class="btn contact-me">Da un vistazo a mi CV!</a>
                </div>
            </div>

        </div>
    </div>
</div>