<div class="container-principal">
    <div class="container-fluid">
        <div class="home-info">
            <h3 class="hello">Hola, me llamo <span class="name">Lautaro Soria &nbsp;<img
                        src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="35"></span></h3>
            <h3><span class="typing">{{ currentText }}</span></h3>

            <div class="about-me">

                <p>🚀 Actualmente, soy pasante en el area de IT en Edesal S.A. Formo parte de un proyecto donde
                    principal
                    trabajo con Python.
                    Ademas de varias librerías potentes como Scikit-learn, Pandas, Numpy, XGBoost y Plotly, las cuales
                    me
                    permiten abordar y resolver problemas complejos de manera eficiente.</p>

                <p>👨‍🏫 También tengo el agrado de ser profesor auxiliar en la Universidad Nacional de San Luis (UNSL),
                    donde colaboro en las materias de "Programación 1" y "Resolución de Problemas y Algoritmos". Me
                    apasiona
                    compartir conocimientos y ayudar a los estudiantes a desarrollar habilidades fundamentales para su
                    futuro profesional.</p>

                <p>🔭 Como parte de mis estudios, estoy trabajando en el desarrollo de una aplicación web de navegación
                    para
                    el campus de la UNSL. Esta herramienta está diseñada para facilitar el acceso a diferentes lugares
                    dentro del campus, como aulas, laboratorios y otros espacios clave, con un enfoque especial en la
                    accesibilidad para todos los usuarios.</p>

                <ul class="learning">
                    🌱 En este momento, estoy ampliando mis conocimientos en las siguientes tecnologías:
                    <li class="learning-item">Angular</li>
                    <li class="learning-item">NodeJS</li>
                    <li class="learning-item">Spring</li>
                    <li class="learning-item">Python</li>
                </ul>

                <p>😀 Me esfuerzo por ser responsable, comprometido y siempre en busca de nuevos aprendizajes. Ya sea en
                    el
                    trabajo o en mi vida personal, mi enfoque está en crear soluciones efectivas a través del diseño, la
                    gestión y la programación. Estoy particularmente interesado en el desarrollo web y el análisis de
                    datos,
                    áreas en las que espero seguir creciendo.</p>

                <div class="boton">
                    <a target="_blank" href="https://drive.google.com/file/d/1EHY-dKglN2nGsyAFP_JH9-v7cejuyYke/view?usp=drive_link"
                        class="btn contact-me">Hecha un vistazo a mi CV!</a>
                </div>
            </div>

        </div>
    </div>
</div>