<div class="container-principal pb-3">
    <div class="container-fluid py-5">
        <!-- Título de la sección -->
        <div class="row text-center mb-4">
            <div class="col">
                <h2><span>Portfolio</span></h2>
            </div>
            <div>
                <h3>
                    Ups... ¡parece que aún no tengo proyectos disponibles para mostrar! 😅
                </h3>
                <h5>
                    Entre la facu y sus deadlines, me converti en un experto para gestionar tareas imposibles (excepto subir mis
                    proyectos). 😜
                </h5>
                <h5>
                    Estoy trabajando en eso y pronto van a estar disponibles en un entorno web. 🚀
                </h5>
                <h5>
                    Mientras tanto, puedes echar un vistazo a algunos videos cortos de
                    <a href="https://drive.google.com/drive/folders/15UDIQ6LyVWfGYUdRf46yiGqpi2skiJMM?usp=sharing" target="_blank"
                        rel="noopener noreferrer">
                        mis proyectos aquí
                    </a>.
                </h5>
            </div>
        </div>
        <!-- Tarjetas de portfolio -->
        <div class="portfolio-item p-3">
            <div class="card shadow-lg h-100 border-0">
                <div class="row g-0">
                    <!-- Imagen del proyecto -->
                    <div class="col-md-4 imagen-proyecto">
                        <img src="/assets/photos/background_stars.jpg" class="img-fluid rounded-start" alt="Project">
                    </div>
                    <!-- Detalles del proyecto -->
                    <div class="col-md-8">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Project X</h5>
                            <p class="card-text text-muted">Descripcion: No disponible</p>
                            <div class="mt-auto">
                                <a href="#" class="btn btn-primary btn-sm">Visitar pagina, dentro de poco</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>