<div class="container-principal pb-3">
    <div class="container-fluid py-5">
        <!-- Título de la sección -->
        <div class="row text-center mb-4">
            <div class="col">
                <h2><span>Portfolio</span></h2>
            </div>
            <div>
                <h3>
                    Ups... parece que aun no tengo proyectos para mostrar aun. 😅
                </h3>
                <h5>Estoy trabajando en ello! Aun queda subirlos y desplegarlos en un entorno web.</h5>
            </div>
        </div>
        <!-- Tarjetas de portfolio -->
        <div class="portfolio-item p-3">
            <div class="card shadow-lg h-100 border-0">
                <div class="row g-0">
                    <!-- Imagen del proyecto -->
                    <div class="col-md-4 imagen-proyecto">
                        <img src="/assets/photos/background_stars.jpg" class="img-fluid rounded-start" alt="Project">
                    </div>
                    <!-- Detalles del proyecto -->
                    <div class="col-md-8">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Project X</h5>
                            <p class="card-text text-muted">Descripcion</p>
                            <div class="mt-auto">
                                <a href="#" class="btn btn-primary btn-sm">Visitar pagina</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>