<app-loading-preview *ngIf="loading"></app-loading-preview>

<div *ngIf="!loading">
    <app-navbar (pageChanged)="changePage($event)"></app-navbar>

    <app-home-page *ngIf="currentComponent === 'homePage'"></app-home-page>
    <app-about-me (inTouch)="changePage($event)" *ngIf="currentComponent === 'aboutMe'"></app-about-me>
    <app-services *ngIf="currentComponent === 'services'"></app-services>
    <app-projects *ngIf="currentComponent === 'projects'"></app-projects>
    <app-contact-me *ngIf="currentComponent === 'contactMe'"></app-contact-me>

    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>