<div class="container-principal pb-3">
    <div class="container-fluid py-5">
        <!-- Título de la sección -->
        <div class="row text-center mb-4">
            <div class="col">
                <h2><span>Servicios</span></h2>
            </div>
        </div>
        <!-- Tarjetas de servicios -->
        <div class="row row-cols-1 row-cols-md-3 g-4 pb-3">
            <div class="col">
                <div class="card h-100 text-center border-0 shadow-lg">
                    <div class="card-body">
                        <div class="mb-3">
                            <i class="bi bi-phone display-4 text-primary"></i>
                        </div>
                        <h4 class="card-title">Diseño Responsivo & Apps Moviles</h4>
                        <p class="card-text">Creación de aplicaciones móviles y diseños web adaptables para ofrecer la mejor experiencia en
                            cualquier dispositivo.</p>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <div class="card h-100 text-center border-0 shadow-lg">
                    <div class="card-body">
                        <div class="mb-3">
                            <i class="bi bi-display display-4 text-primary"></i>
                        </div>
                        <h4 class="card-title">Desarrollo de Software</h4>
                        <p class="card-text">Implementación de soluciones personalizadas utilizando tecnologías modernas y principios de
                            desarrollo eficiente.</p>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <div class="card h-100 text-center border-0 shadow-lg">
                    <div class="card-body">
                        <div class="mb-3">
                            <i class="bi bi-search display-4 text-primary"></i>
                        </div>
                        <h4 class="card-title">Patrones de Software</h4>
                        <p class="card-text">Aplicación de patrones de diseño para crear soluciones escalables, mantenibles y robustas.</p>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <div class="card h-100 text-center border-0 shadow-lg">
                    <div class="card-body">
                        <div class="mb-3">
                            <i class="bi bi-gear display-4 text-primary"></i>
                        </div>
                        <h4 class="card-title">Automatización de Procesos</h4>
                        <p class="card-text">Optimización de tareas repetitivas mediante scripts y herramientas para ahorrar tiempo y recursos.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <div class="card h-100 text-center border-0 shadow-lg">
                    <div class="card-body">
                        <div class="mb-3">
                            <i class="bi bi-laptop display-4 text-primary"></i>
                        </div>
                        <h4 class="card-title">Arquitectura de Software</h4>
                        <p class="card-text">Diseño de arquitecturas modulares y escalables para garantizar la calidad y el rendimiento del
                            software.</p>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <div class="card h-100 text-center border-0 shadow-lg">
                    <div class="card-body">
                        <div class="mb-3">
                            <i class="bi bi-palette display-4 text-primary"></i>
                        </div>
                        <h4 class="card-title">Diseño Web</h4>
                        <p class="card-text">Creación de interfaces atractivas y funcionales que refuercen la identidad de marca y la
                            usabilidad.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>